/* General Styles */
body {
  background-color: #f2f2f2 !important;
}

/* Color Styling */
.text-primary {
  color: #2e4a7d;
}

/* Button Styling */
.btn {
  background-color: #7d612e !important;
  border-color: #7d612e !important;
}

.btn:hover {
  background-color: #a68c51 !important;
  border-color: #a68c51 !important;
}

/* Hero Section */
#hero {
  height: 100vh;
}

#hero h1,
#hero p,
#about,
#contact,
#projects h2,
footer {
  color: #2e4a7d;
}

/* Navigation Links */
nav a {
  color: #2e4a7d !important;
}

/* Profile Picture */
.profile-pic {
  border-radius: 50%;
}
